In [183]:
import pandas as pd
import math

In [184]:
df = pd.read_excel('data.xlsx')
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,6215,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1
6,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,34.59,16,23,2,202,6
7,E Paynter (ENG),1931-1939,20,31,5,1540,243,5923,1288+,45.88,4,7,3,125,4
8,KF Barrington (ENG),1955-1968,82,131,15,6806,256,5867,4957+,42.42,20,35,5,591,27
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,NaN,NaN,15,19,6,258,2
10,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,5845,7491+,38.07,22,24,4,419,27
11,SPD Smith (AUS),2010-2024,107,191,25,9634,239,5803,17977,53.59,32,41,9,1056,54
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,53.58,26,30,12,593,32
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,53.58,26,30,12,593,32
14,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,5740,22882,54.19,38,52,11,1491,51
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,5694,5363+,46.22,15,28,4,276,8
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,5694,5363+,46.22,15,28,4,276,8
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,5668,NaN,NaN,15,14,1,107,11
18,L Hutton (ENG),1937-1955,79,138,15,6971,364,5667,2844+,39.34,19,33,5,358,7
19,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,5537,28903,45.97,45,58,16,1488,97
20,KS Williamson (NZ),2010-2024,97,170,16,8490,251,5512,16473,51.53,31,33,10,942,22
21,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,5500,178+,29.21,3,6,2,37,2
22,CA Davis (WI),1968-1973,15,29,5,1301,183,5420,665+,35.48,4,4,1,65,1
23,VG Kambli (IND),1993-1995,17,21,1,1084,227,5420,1823,59.46,4,3,3,124,6
24,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,5386,13079+,51.53,24,31,12,755,16
25,AD Nourse (SA),1935-1951,34,62,7,2960,231,5381,108+,63.88,9,14,3,115,6
26,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,5378,29437+,54.04,51,68,14,2058,69
27,DJ Mitchell (NZ),2019-2024,21,33,5,1497,190,5346,2736,54.71,5,9,1,148,28
28,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,5288,19753,60.51,34,48,17,1559,88
29,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,5257,15164+,45.99,23,43,6,788,48
30,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,5231,31258,42.51,36,63,8,1654,21
31,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,5229,14372,52.39,24,33,11,957,51
32,Younis Khan (PAK),2000-2017,118,213,19,10099,313,5205,19375,52.12,34,33,19,1082,70
33,RT Ponting (AUS),1995-2012,168,287,29,13378,257,5185,22782,58.72,41,62,17,1509,73
34,J Ryder (AUS),1920-1929,20,32,5,1394,201*,5162,2035+,44.86,3,9,1,102,3
35,A Flower (ZIM),1992-2002,63,112,19,4794,232*,5154,10636,45.07,12,27,5,543,20
36,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,5152,12436,50.13,19,29,12,685,39
37,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,5137,27395,43.31,30,66,15,1285,36
38,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,5112,14184+,43.35,34,45,12,908,26
39,SR Waugh (AUS),1985-2004,168,260,46,10927,200,5106,22461,48.64,32,50,22,1175,20
40,M Labuschagne (AUS),2018-2024,48,86,7,4015,215,5082,7614,52.73,11,19,4,450,12
41,ML Hayden (AUS),1994-2009,103,184,14,8625,380,5073,14349,60.10,30,29,14,1049,82
42,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,5066,16077,54.51,22,46,8,1024,64
43,AR Border (AUS),1978-1994,156,265,44,11174,205,5056,27002+,41.09,27,63,11,1161,28
44,IVA Richards (WI),1974-1991,121,182,12,8540,291,5023,9613+,69.77,24,45,10,952,84
45,DCS Compton (ENG),1937-1957,78,131,15,5807,278,5006,2731+,38.81,17,28,10,342,3
46,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,4984,22959,51.45,34,50,15,1387,61
47,JE Root (ENG),2012-2024,137,251,20,11468,254,4964,20199,56.77,30,60,12,1251,44
48,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,4960,16345,54.02,25,46,15,1105,48
49,FMM Worrell (WI),1948-1963,51,87,9,3860,261,4948,488+,40.16,9,22,11,240,11
50,CP Mead (ENG),1911-1928,17,26,2,1185,182*,4937,619+,30.04,4,3,3,38,0
51,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,4934,10441,82.23,23,32,16,1233,91
52,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,4916,2445,48.26,4,3,2,148,5
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,4915,15924,55.56,29,30,14,991,26
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,4915,15924,55.56,29,30,14,991,26
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,4910,15456,55.92,28,27,9,978,39
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,4908,885+,37.74,3,9,2,123,20
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,4888,158+,29.11,8,21,3,41,1
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,4879,NaN,NaN,5,6,3,51,0
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,4876,11641,46.92,14,30,11,633,7
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,4841,1799+,43.74,21,24,7,427,1
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,4826,8662+,49.16,15,33,4,525,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,4825,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,4822,3118+,44.77,7,6,1,119,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,4821,3217+,60.02,6,13,4,241,5
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,4800,2110+,25.59,1,10,2,53,0

In [185]:
df.columns

Index(['Player',   'Span',    'Mat',   'Inns',     'NO',   'Runs',     'HS',
          'Ave',     'BF',     'SR',      100,       50,        0,     '4s',
           '6s'],
      dtype='object')

In [186]:
df.shape

(66, 15)

In [187]:
df.dtypes

Player     object
Span       object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Ave         int64
BF         object
SR        float64
100         int64
50          int64
0           int64
4s          int64
6s          int64
dtype: object

In [188]:
df = df.rename(columns={'Mat':'Matches', 'NO':'No_Outs','HS':'Highest_Inns_Score','Ave':'Batting_Avarege','BF':'Balls_Faced','SR':'Batting_Strike_Rate'})
df

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,6215,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1
6,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,6073,6558+,34.59,16,23,2,202,6
7,E Paynter (ENG),1931-1939,20,31,5,1540,243,5923,1288+,45.88,4,7,3,125,4
8,KF Barrington (ENG),1955-1968,82,131,15,6806,256,5867,4957+,42.42,20,35,5,591,27
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,NaN,NaN,15,19,6,258,2
10,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,5845,7491+,38.07,22,24,4,419,27
11,SPD Smith (AUS),2010-2024,107,191,25,9634,239,5803,17977,53.59,32,41,9,1056,54
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,53.58,26,30,12,593,32
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,53.58,26,30,12,593,32
14,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,5740,22882,54.19,38,52,11,1491,51
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,5694,5363+,46.22,15,28,4,276,8
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,5694,5363+,46.22,15,28,4,276,8
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,5668,NaN,NaN,15,14,1,107,11
18,L Hutton (ENG),1937-1955,79,138,15,6971,364,5667,2844+,39.34,19,33,5,358,7
19,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,5537,28903,45.97,45,58,16,1488,97
20,KS Williamson (NZ),2010-2024,97,170,16,8490,251,5512,16473,51.53,31,33,10,942,22
21,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,5500,178+,29.21,3,6,2,37,2
22,CA Davis (WI),1968-1973,15,29,5,1301,183,5420,665+,35.48,4,4,1,65,1
23,VG Kambli (IND),1993-1995,17,21,1,1084,227,5420,1823,59.46,4,3,3,124,6
24,GS Chappell (AUS),1970-1984,87,151,19,7110,247*,5386,13079+,51.53,24,31,12,755,16
25,AD Nourse (SA),1935-1951,34,62,7,2960,231,5381,108+,63.88,9,14,3,115,6
26,SR Tendulkar (IND),1989-2013,200,329,33,15921,248*,5378,29437+,54.04,51,68,14,2058,69
27,DJ Mitchell (NZ),2019-2024,21,33,5,1497,190,5346,2736,54.71,5,9,1,148,28
28,BC Lara (ICC/WI),1990-2006,131,232,6,11953,400*,5288,19753,60.51,34,48,17,1559,88
29,Javed Miandad (PAK),1976-1993,124,189,21,8832,280*,5257,15164+,45.99,23,43,6,788,48
30,R Dravid (ICC/IND),1996-2012,164,286,32,13288,270,5231,31258,42.51,36,63,8,1654,21
31,Mohammad Yousuf (PAK),1998-2010,90,156,12,7530,223,5229,14372,52.39,24,33,11,957,51
32,Younis Khan (PAK),2000-2017,118,213,19,10099,313,5205,19375,52.12,34,33,19,1082,70
33,RT Ponting (AUS),1995-2012,168,287,29,13378,257,5185,22782,58.72,41,62,17,1509,73
34,J Ryder (AUS),1920-1929,20,32,5,1394,201*,5162,2035+,44.86,3,9,1,102,3
35,A Flower (ZIM),1992-2002,63,112,19,4794,232*,5154,10636,45.07,12,27,5,543,20
36,MEK Hussey (AUS),2005-2013,79,137,16,6235,195,5152,12436,50.13,19,29,12,685,39
37,S Chanderpaul (WI),1994-2015,164,280,49,11867,203*,5137,27395,43.31,30,66,15,1285,36
38,SM Gavaskar (IND),1971-1987,125,214,16,10122,236*,5112,14184+,43.35,34,45,12,908,26
39,SR Waugh (AUS),1985-2004,168,260,46,10927,200,5106,22461,48.64,32,50,22,1175,20
40,M Labuschagne (AUS),2018-2024,48,86,7,4015,215,5082,7614,52.73,11,19,4,450,12
41,ML Hayden (AUS),1994-2009,103,184,14,8625,380,5073,14349,60.10,30,29,14,1049,82
42,AB de Villiers (SA),2004-2018,114,191,18,8765,278*,5066,16077,54.51,22,46,8,1024,64
43,AR Border (AUS),1978-1994,156,265,44,11174,205,5056,27002+,41.09,27,63,11,1161,28
44,IVA Richards (WI),1974-1991,121,182,12,8540,291,5023,9613+,69.77,24,45,10,952,84
45,DCS Compton (ENG),1937-1957,78,131,15,5807,278,5006,2731+,38.81,17,28,10,342,3
46,DPMD Jayawardene (SL),1997-2014,149,252,15,11814,374,4984,22959,51.45,34,50,15,1387,61
47,JE Root (ENG),2012-2024,137,251,20,11468,254,4964,20199,56.77,30,60,12,1251,44
48,Inzamam-ul-Haq (ICC/PAK),1992-2007,120,200,22,8830,329,4960,16345,54.02,25,46,15,1105,48
49,FMM Worrell (WI),1948-1963,51,87,9,3860,261,4948,488+,40.16,9,22,11,240,11
50,CP Mead (ENG),1911-1928,17,26,2,1185,182*,4937,619+,30.04,4,3,3,38,0
51,V Sehwag (ICC/IND),2001-2013,104,180,6,8586,319,4934,10441,82.23,23,32,16,1233,91
52,Abid Ali (PAK),2019-2021,16,26,2,1180,215*,4916,2445,48.26,4,3,2,148,5
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,4915,15924,55.56,29,30,14,991,26
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,4915,15924,55.56,29,30,14,991,26
55,MJ Clarke (AUS),2004-2015,115,198,22,8643,329*,4910,15456,55.92,28,27,9,978,39
56,KC Bland (SA),1961-1966,21,39,5,1669,144*,4908,885+,37.74,3,9,2,123,20
57,B Mitchell (SA),1929-1949,42,80,9,3471,189*,4888,158+,29.11,8,21,3,41,1
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,4879,NaN,NaN,5,6,3,51,0
59,TT Samaraweera (SL),2001-2013,81,132,20,5462,231,4876,11641,46.92,14,30,11,633,7
60,RN Harvey (AUS),1948-1963,79,137,10,6149,205,4841,1799+,43.74,21,24,7,427,1
61,KD Walters (AUS),1965-1981,74,125,14,5357,250,4826,8662+,49.16,15,33,4,525,23
62,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,4825,15525,59.67,27,38,11,1165,24
63,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,4822,3118+,44.77,7,6,1,119,0
64,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,4821,3217+,60.02,6,13,4,241,5
65,DR Jardine (ENG),1928-1934,22,33,6,1296,127,4800,2110+,25.59,1,10,2,53,0

In [189]:
df.isnull().any()

Player                 False
Span                   False
Matches                False
Inns                   False
No_Outs                False
Runs                   False
Highest_Inns_Score     False
Batting_Avarege        False
Balls_Faced             True
Batting_Strike_Rate     True
100                    False
50                     False
0                      False
4s                     False
6s                     False
dtype: bool

In [190]:
df[df['Balls_Faced'].isna()==1]

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,NaN,NaN,15,19,6,258,2
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,5668,NaN,NaN,15,14,1,107,11
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,4879,NaN,NaN,5,6,3,51,0

In [191]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].fillna(0)

In [192]:
selected_players = ['ED Weekes (WI)', 'CL Walcott (WI)', 'Hon.FS Jackson (ENG)']
result_df = df[df['Player'].isin(selected_players)]
result_df

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
9,ED Weekes (WI),1948-1958,48,81,5,4455,207,5861,0,0.0,15,19,6,258,2
17,CL Walcott (WI),1948-1960,44,74,7,3798,220,5668,0,0.0,15,14,1,107,11
58,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,4879,0,0.0,5,6,3,51,0

In [193]:
duplicated_rows = df[df.duplicated(keep=False)]
duplicated_rows

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1
5,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1
12,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,53.58,26,30,12,593,32
13,GS Sobers (WI),1954-1974,93,160,21,8032,365*,5778,4063+,53.58,26,30,12,593,32
15,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,5694,5363+,46.22,15,28,4,276,8
16,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,5694,5363+,46.22,15,28,4,276,8
53,V Kohli (IND),2011-2024,113,191,11,8848,254*,4915,15924,55.56,29,30,14,991,26
54,V Kohli (IND),2011-2024,113,191,11,8848,254*,4915,15924,55.56,29,30,14,991,26

In [194]:
df = df.drop_duplicates()
df.head()

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,6215,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,6187,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,6097,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1

In [195]:
df.dtypes

Player                  object
Span                    object
Matches                  int64
Inns                     int64
No_Outs                  int64
Runs                     int64
Highest_Inns_Score      object
Batting_Avarege          int64
Balls_Faced             object
Batting_Strike_Rate    float64
100                      int64
50                       int64
0                        int64
4s                       int64
6s                       int64
dtype: object

In [196]:
df[['Start_Date','End_Date']] = df['Span'].str.split('-',expand=True)
df.head(1)

C:\Users\alice\AppData\Local\Temp\ipykernel_10584\2801235244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Start_Date','End_Date']] = df['Span'].str.split('-',expand=True)
C:\Users\alice\AppData\Local\Temp\ipykernel_10584\2801235244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Start_Date','End_Date']] = df['Span'].str.split('-',expand=True)

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Start_Date,End_Date
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,58.6,29,13,7,626,6,1928,1948

In [197]:
df.rename(columns={'Start_Date':'Start_Year','End_Date':'End_Year'})
df.head(1)

,Player,Span,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Start_Date,End_Date
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,9994,9800+,58.6,29,13,7,626,6,1928,1948

In [198]:
df = df.drop(columns='Span')
df.head(1)

,Player,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Start_Date,End_Date
0,DG Bradman (AUS),52,80,10,6996,334,9994,9800+,58.6,29,13,7,626,6,1928,1948

In [199]:
df.insert(df.columns.get_loc('Player') + 1, 'Start_Date', df.pop('Start_Date'))
df.insert(df.columns.get_loc('Player') + 2, 'End_Date', df.pop('End_Date'))

df.head(1)

,Player,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928,1948,52,80,10,6996,334,9994,9800+,58.6,29,13,7,626,6

In [200]:
# Extract 'Name' and 'Country' from 'Player' column
df[['Name', 'Country']] = df['Player'].str.extract(r'(.+)\s\((\w+)\)')

df.head(1)

,Player,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Name,Country
0,DG Bradman (AUS),1928,1948,52,80,10,6996,334,9994,9800+,58.6,29,13,7,626,6,DG Bradman,AUS

In [201]:
df.insert(df.columns.get_loc('Player') + 1, 'Name', df.pop('Name'))
df.insert(df.columns.get_loc('Player') + 2, 'Country', df.pop('Country'))
df = df.drop(columns='Player',axis=1)
df.head(1)

,Name,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800+,58.6,29,13,7,626,6

In [202]:
df = df.rename(columns={'Name':'Player'})
df.head()

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800+,58.60,29,13,7,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,186,6215,1287,91.76,4,7,1,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269*,6187,2667,55.68,5,4,2,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,274,6097,1707+,54.48,7,11,1,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270*,6083,416+,56.00,10,5,2,104,1

In [203]:
df['Score'] = df['Highest_Inns_Score'].str.extract(r'(\d+)\*').fillna(df['Highest_Inns_Score'])
df = df.drop(columns=['Highest_Inns_Score'])

In [204]:
df.head()

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Score
0,DG Bradman,AUS,1928,1948,52,80,10,6996,9994,9800+,58.60,29,13,7,626,6,334
1,HC Brook,ENG,2022,2023,12,20,1,1181,6215,1287,91.76,4,7,1,141,23,334
2,AC Voges,AUS,2015,2016,20,31,7,1485,6187,2667,55.68,5,4,2,186,5,269
3,RG Pollock,SA,1963,1970,23,41,4,2256,6097,1707+,54.48,7,11,1,246,11,334
4,GA Headley,WI,1930,1954,22,40,4,2190,6083,416+,56.00,10,5,2,104,1,270

In [205]:
df = df.rename(columns={'Score': 'Highest_Inns_Score'})

In [206]:
df.head()

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Highest_Inns_Score
0,DG Bradman,AUS,1928,1948,52,80,10,6996,9994,9800+,58.60,29,13,7,626,6,334
1,HC Brook,ENG,2022,2023,12,20,1,1181,6215,1287,91.76,4,7,1,141,23,334
2,AC Voges,AUS,2015,2016,20,31,7,1485,6187,2667,55.68,5,4,2,186,5,269
3,RG Pollock,SA,1963,1970,23,41,4,2256,6097,1707+,54.48,7,11,1,246,11,334
4,GA Headley,WI,1930,1954,22,40,4,2190,6083,416+,56.00,10,5,2,104,1,270

In [207]:
df.insert(df.columns.get_loc('Runs') + 1, 'Highest_Inns_Score', df.pop('Highest_Inns_Score'))
df.head()

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800+,58.60,29,13,7,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,1287,91.76,4,7,1,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,2667,55.68,5,4,2,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,1707+,54.48,7,11,1,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,416+,56.00,10,5,2,104,1

In [208]:
df['Balls_Faced'] = df['Balls_Faced'].str.extract(r'(\d+)\+').fillna(df['Balls_Faced'])

In [209]:
df.head()

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,58.60,29,13,7,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,9800+,91.76,4,7,1,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,9800+,55.68,5,4,2,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,1707,54.48,7,11,1,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,416,56.00,10,5,2,104,1

In [210]:
df[['Start_Date', 'End_Date','Highest_Inns_Score','Balls_Faced']] = df[['Start_Date', 'End_Date','Highest_Inns_Score','Balls_Faced']].astype(int)
df.dtypes

ValueError: invalid literal for int() with base 10: '9800+'

In [ ]:
df['Batting_Strike_Rate'] = df['Batting_Strike_Rate'].apply(lambda x: math.ceil(x))
df

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,59,29,13,7,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,9800,92,4,7,1,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,9800,56,5,4,2,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,9800,55,7,11,1,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,9800,56,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,KD Walters,AUS,1965,1981,74,125,14,5357,334,4826,9800,50,15,33,4,525,23
62,NaN,NaN,2002,2014,117,205,13,9265,334,4825,9800,60,27,38,11,1165,24
63,WH Ponsford,AUS,1924,1934,29,48,4,2122,334,4822,9800,45,7,6,1,119,0
64,SJ McCabe,AUS,1930,1938,39,62,5,2748,334,4821,9800,61,6,13,4,241,5
65,DR Jardine,ENG,1928,1934,22,33,6,1296,334,4800,9800,26,1,10,2,53,0

In [ ]:
df.dtypes

Player                 object
Country                object
Start_Date              int32
End_Date                int32
Matches                 int64
Inns                    int64
No_Outs                 int64
Runs                    int64
Highest_Inns_Score      int32
Batting_Avarege         int64
Balls_Faced             int32
Batting_Strike_Rate     int64
100                     int64
50                      int64
0                       int64
4s                      int64
6s                      int64
dtype: object

In [ ]:
pd.set_option('display.max_rows',None)

In [ ]:
df.head()

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,59,29,13,7,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,9800,92,4,7,1,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,9800,56,5,4,2,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,9800,55,7,11,1,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,9800,56,10,5,2,104,1

In [ ]:
carrer_length = df['Carrer_Length'] = df['End_Date'] - df['Start_Date']
df

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Carrer_Length
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,59,29,13,7,626,6,20
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,9800,92,4,7,1,141,23,1
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,9800,56,5,4,2,186,5,1
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,9800,55,7,11,1,246,11,7
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,9800,56,10,5,2,104,1,24
6,H Sutcliffe,ENG,1924,1935,54,84,9,4555,334,6073,9800,35,16,23,2,202,6,11
7,E Paynter,ENG,1931,1939,20,31,5,1540,334,5923,9800,46,4,7,3,125,4,8
8,KF Barrington,ENG,1955,1968,82,131,15,6806,334,5867,9800,43,20,35,5,591,27,13
9,ED Weekes,WI,1948,1958,48,81,5,4455,334,5861,9800,0,15,19,6,258,2,10
10,WR Hammond,ENG,1927,1947,85,140,16,7249,336,5845,9800,39,22,24,4,419,27,20
11,SPD Smith,AUS,2010,2024,107,191,25,9634,334,5803,9800,54,32,41,9,1056,54,14
12,GS Sobers,WI,1954,1974,93,160,21,8032,365,5778,9800,54,26,30,12,593,32,20
14,KC Sangakkara,SL,2000,2015,134,233,17,12400,334,5740,9800,55,38,52,11,1491,51,15
15,JB Hobbs,ENG,1908,1930,61,102,7,5410,334,5694,9800,47,15,28,4,276,8,22
17,CL Walcott,WI,1948,1960,44,74,7,3798,334,5668,9800,0,15,14,1,107,11,12
18,L Hutton,ENG,1937,1955,79,138,15,6971,334,5667,9800,40,19,33,5,358,7,18
19,NaN,NaN,1995,2013,166,280,40,13289,334,5537,9800,46,45,58,16,1488,97,18
20,KS Williamson,NZ,2010,2024,97,170,16,8490,334,5512,9800,52,31,33,10,942,22,14
21,GE Tyldesley,ENG,1921,1929,14,20,2,990,334,5500,9800,30,3,6,2,37,2,8
22,CA Davis,WI,1968,1973,15,29,5,1301,334,5420,9800,36,4,4,1,65,1,5
23,VG Kambli,IND,1993,1995,17,21,1,1084,334,5420,9800,60,4,3,3,124,6,2
24,GS Chappell,AUS,1970,1984,87,151,19,7110,247,5386,9800,52,24,31,12,755,16,14
25,AD Nourse,SA,1935,1951,34,62,7,2960,334,5381,9800,64,9,14,3,115,6,16
26,SR Tendulkar,IND,1989,2013,200,329,33,15921,248,5378,9800,55,51,68,14,2058,69,24
27,DJ Mitchell,NZ,2019,2024,21,33,5,1497,334,5346,9800,55,5,9,1,148,28,5
28,NaN,NaN,1990,2006,131,232,6,11953,400,5288,9800,61,34,48,17,1559,88,16
29,Javed Miandad,PAK,1976,1993,124,189,21,8832,280,5257,9800,46,23,43,6,788,48,17
30,NaN,NaN,1996,2012,164,286,32,13288,334,5231,9800,43,36,63,8,1654,21,16
31,Mohammad Yousuf,PAK,1998,2010,90,156,12,7530,334,5229,9800,53,24,33,11,957,51,12
32,Younis Khan,PAK,2000,2017,118,213,19,10099,334,5205,9800,53,34,33,19,1082,70,17
33,RT Ponting,AUS,1995,2012,168,287,29,13378,334,5185,9800,59,41,62,17,1509,73,17
34,J Ryder,AUS,1920,1929,20,32,5,1394,201,5162,9800,45,3,9,1,102,3,9
35,A Flower,ZIM,1992,2002,63,112,19,4794,232,5154,9800,46,12,27,5,543,20,10
36,MEK Hussey,AUS,2005,2013,79,137,16,6235,334,5152,9800,51,19,29,12,685,39,8
37,S Chanderpaul,WI,1994,2015,164,280,49,11867,203,5137,9800,44,30,66,15,1285,36,21
38,SM Gavaskar,IND,1971,1987,125,214,16,10122,236,5112,9800,44,34,45,12,908,26,16
39,SR Waugh,AUS,1985,2004,168,260,46,10927,334,5106,9800,49,32,50,22,1175,20,19
40,M Labuschagne,AUS,2018,2024,48,86,7,4015,334,5082,9800,53,11,19,4,450,12,6
41,ML Hayden,AUS,1994,2009,103,184,14,8625,334,5073,9800,61,30,29,14,1049,82,15
42,AB de Villiers,SA,2004,2018,114,191,18,8765,278,5066,9800,55,22,46,8,1024,64,14
43,AR Border,AUS,1978,1994,156,265,44,11174,334,5056,9800,42,27,63,11,1161,28,16
44,IVA Richards,WI,1974,1991,121,182,12,8540,334,5023,9800,70,24,45,10,952,84,17
45,DCS Compton,ENG,1937,1957,78,131,15,5807,334,5006,9800,39,17,28,10,342,3,20
46,DPMD Jayawardene,SL,1997,2014,149,252,15,11814,334,4984,9800,52,34,50,15,1387,61,17
47,JE Root,ENG,2012,2024,137,251,20,11468,334,4964,9800,57,30,60,12,1251,44,12
48,NaN,NaN,1992,2007,120,200,22,8830,334,4960,9800,55,25,46,15,1105,48,15
49,FMM Worrell,WI,1948,1963,51,87,9,3860,334,4948,9800,41,9,22,11,240,11,15
50,CP Mead,ENG,1911,1928,17,26,2,1185,182,4937,9800,31,4,3,3,38,0,17
51,NaN,NaN,2001,2013,104,180,6,8586,334,4934,9800,83,23,32,16,1233,91,12
52,Abid Ali,PAK,2019,2021,16,26,2,1180,215,4916,9800,49,4,3,2,148,5,2
53,V Kohli,IND,2011,2024,113,191,11,8848,254,4915,9800,56,29,30,14,991,26,13
55,MJ Clarke,AUS,2004,2015,115,198,22,8643,329,4910,9800,56,28,27,9,978,39,11
56,KC Bland,SA,1961,1966,21,39,5,1669,144,4908,9800,38,3,9,2,123,20,5
57,B Mitchell,SA,1929,1949,42,80,9,3471,189,4888,9800,30,8,21,3,41,1,20
58,Hon.FS Jackson,ENG,1893,1905,20,33,4,1415,144,4879,9800,0,5,6,3,51,0,12
59,TT Samaraweera,SL,2001,2013,81,132,20,5462,334,4876,9800,47,14,30,11,633,7,12
60,RN Harvey,AUS,1948,1963,79,137,10,6149,334,4841,9800,44,21,24,7,427,1,15
61,KD Walters,AUS,1965,1981,74,125,14,5357,334,4826,9800,50,15,33,4,525,23,16
62,NaN,NaN,2002,2014,117,205,13,9265,334,4825,9800,60,27,38,11,1165,24,12
63,WH Ponsford,AUS,1924,1934,29,48,4,2122,334,4822,9800,45,7,6,1,119,0,10
64,SJ McCabe,AUS,1930,1938,39,62,5,2748,334,4821,9800,61,6,13,4,241,5,8
65,DR Jardine,ENG,1928,1934,22,33,6,1296,334,4800,9800,26,1,10,2,53,0,6

In [ ]:
mean_carrer_lenght = df['Carrer_Length'].mean()
mean_carrer_lenght

13.193548387096774

In [ ]:
over_10years_batting_strike_rate = df[df['Carrer_Length'] > 10]['Batting_Strike_Rate']
over_10years_batting_strike_rate

0     59
4     56
6     35
8     43
10    39
11    54
12    54
14    55
15    47
17     0
18    40
19    46
20    52
24    52
25    64
26    55
28    61
29    46
30    43
31    53
32    53
33    59
37    44
38    44
39    49
41    61
42    55
43    42
44    70
45    39
46    52
47    57
48    55
49    41
50    31
51    83
53    56
55    56
57    30
58     0
59    47
60    44
61    50
62    60
Name: Batting_Strike_Rate, dtype: int64

In [ ]:
over_10years_batting_strike_rate_mean = df[df['Carrer_Length'] > 10]['Batting_Strike_Rate'].mean()
over_10years_batting_strike_rate_mean

48.45454545454545

In [ ]:
before_60s = df[df['Start_Date'] < 1960]
before_60s

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Carrer_Length
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,59,29,13,7,626,6,20
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,9800,56,10,5,2,104,1,24
6,H Sutcliffe,ENG,1924,1935,54,84,9,4555,334,6073,9800,35,16,23,2,202,6,11
7,E Paynter,ENG,1931,1939,20,31,5,1540,334,5923,9800,46,4,7,3,125,4,8
8,KF Barrington,ENG,1955,1968,82,131,15,6806,334,5867,9800,43,20,35,5,591,27,13
9,ED Weekes,WI,1948,1958,48,81,5,4455,334,5861,9800,0,15,19,6,258,2,10
10,WR Hammond,ENG,1927,1947,85,140,16,7249,336,5845,9800,39,22,24,4,419,27,20
12,GS Sobers,WI,1954,1974,93,160,21,8032,365,5778,9800,54,26,30,12,593,32,20
15,JB Hobbs,ENG,1908,1930,61,102,7,5410,334,5694,9800,47,15,28,4,276,8,22
17,CL Walcott,WI,1948,1960,44,74,7,3798,334,5668,9800,0,15,14,1,107,11,12
18,L Hutton,ENG,1937,1955,79,138,15,6971,334,5667,9800,40,19,33,5,358,7,18
21,GE Tyldesley,ENG,1921,1929,14,20,2,990,334,5500,9800,30,3,6,2,37,2,8
25,AD Nourse,SA,1935,1951,34,62,7,2960,334,5381,9800,64,9,14,3,115,6,16
34,J Ryder,AUS,1920,1929,20,32,5,1394,201,5162,9800,45,3,9,1,102,3,9
45,DCS Compton,ENG,1937,1957,78,131,15,5807,334,5006,9800,39,17,28,10,342,3,20
49,FMM Worrell,WI,1948,1963,51,87,9,3860,334,4948,9800,41,9,22,11,240,11,15
50,CP Mead,ENG,1911,1928,17,26,2,1185,182,4937,9800,31,4,3,3,38,0,17
57,B Mitchell,SA,1929,1949,42,80,9,3471,189,4888,9800,30,8,21,3,41,1,20
58,Hon.FS Jackson,ENG,1893,1905,20,33,4,1415,144,4879,9800,0,5,6,3,51,0,12
60,RN Harvey,AUS,1948,1963,79,137,10,6149,334,4841,9800,44,21,24,7,427,1,15
63,WH Ponsford,AUS,1924,1934,29,48,4,2122,334,4822,9800,45,7,6,1,119,0,10
64,SJ McCabe,AUS,1930,1938,39,62,5,2748,334,4821,9800,61,6,13,4,241,5,8
65,DR Jardine,ENG,1928,1934,22,33,6,1296,334,4800,9800,26,1,10,2,53,0,6

In [ ]:
after_60s = df[df['Start_Date'] > 1960]
after_60s

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s,Carrer_Length
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,9800,92,4,7,1,141,23,1
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,9800,56,5,4,2,186,5,1
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,9800,55,7,11,1,246,11,7
11,SPD Smith,AUS,2010,2024,107,191,25,9634,334,5803,9800,54,32,41,9,1056,54,14
14,KC Sangakkara,SL,2000,2015,134,233,17,12400,334,5740,9800,55,38,52,11,1491,51,15
19,NaN,NaN,1995,2013,166,280,40,13289,334,5537,9800,46,45,58,16,1488,97,18
20,KS Williamson,NZ,2010,2024,97,170,16,8490,334,5512,9800,52,31,33,10,942,22,14
22,CA Davis,WI,1968,1973,15,29,5,1301,334,5420,9800,36,4,4,1,65,1,5
23,VG Kambli,IND,1993,1995,17,21,1,1084,334,5420,9800,60,4,3,3,124,6,2
24,GS Chappell,AUS,1970,1984,87,151,19,7110,247,5386,9800,52,24,31,12,755,16,14
26,SR Tendulkar,IND,1989,2013,200,329,33,15921,248,5378,9800,55,51,68,14,2058,69,24
27,DJ Mitchell,NZ,2019,2024,21,33,5,1497,334,5346,9800,55,5,9,1,148,28,5
28,NaN,NaN,1990,2006,131,232,6,11953,400,5288,9800,61,34,48,17,1559,88,16
29,Javed Miandad,PAK,1976,1993,124,189,21,8832,280,5257,9800,46,23,43,6,788,48,17
30,NaN,NaN,1996,2012,164,286,32,13288,334,5231,9800,43,36,63,8,1654,21,16
31,Mohammad Yousuf,PAK,1998,2010,90,156,12,7530,334,5229,9800,53,24,33,11,957,51,12
32,Younis Khan,PAK,2000,2017,118,213,19,10099,334,5205,9800,53,34,33,19,1082,70,17
33,RT Ponting,AUS,1995,2012,168,287,29,13378,334,5185,9800,59,41,62,17,1509,73,17
35,A Flower,ZIM,1992,2002,63,112,19,4794,232,5154,9800,46,12,27,5,543,20,10
36,MEK Hussey,AUS,2005,2013,79,137,16,6235,334,5152,9800,51,19,29,12,685,39,8
37,S Chanderpaul,WI,1994,2015,164,280,49,11867,203,5137,9800,44,30,66,15,1285,36,21
38,SM Gavaskar,IND,1971,1987,125,214,16,10122,236,5112,9800,44,34,45,12,908,26,16
39,SR Waugh,AUS,1985,2004,168,260,46,10927,334,5106,9800,49,32,50,22,1175,20,19
40,M Labuschagne,AUS,2018,2024,48,86,7,4015,334,5082,9800,53,11,19,4,450,12,6
41,ML Hayden,AUS,1994,2009,103,184,14,8625,334,5073,9800,61,30,29,14,1049,82,15
42,AB de Villiers,SA,2004,2018,114,191,18,8765,278,5066,9800,55,22,46,8,1024,64,14
43,AR Border,AUS,1978,1994,156,265,44,11174,334,5056,9800,42,27,63,11,1161,28,16
44,IVA Richards,WI,1974,1991,121,182,12,8540,334,5023,9800,70,24,45,10,952,84,17
46,DPMD Jayawardene,SL,1997,2014,149,252,15,11814,334,4984,9800,52,34,50,15,1387,61,17
47,JE Root,ENG,2012,2024,137,251,20,11468,334,4964,9800,57,30,60,12,1251,44,12
48,NaN,NaN,1992,2007,120,200,22,8830,334,4960,9800,55,25,46,15,1105,48,15
51,NaN,NaN,2001,2013,104,180,6,8586,334,4934,9800,83,23,32,16,1233,91,12
52,Abid Ali,PAK,2019,2021,16,26,2,1180,215,4916,9800,49,4,3,2,148,5,2
53,V Kohli,IND,2011,2024,113,191,11,8848,254,4915,9800,56,29,30,14,991,26,13
55,MJ Clarke,AUS,2004,2015,115,198,22,8643,329,4910,9800,56,28,27,9,978,39,11
56,KC Bland,SA,1961,1966,21,39,5,1669,144,4908,9800,38,3,9,2,123,20,5
59,TT Samaraweera,SL,2001,2013,81,132,20,5462,334,4876,9800,47,14,30,11,633,7,12
61,KD Walters,AUS,1965,1981,74,125,14,5357,334,4826,9800,50,15,33,4,525,23,16
62,NaN,NaN,2002,2014,117,205,13,9265,334,4825,9800,60,27,38,11,1165,24,12

In [ ]:
highest_inn_by_country = df.groupby('Country')['Highest_Inns_Score'].max().to_frame('HighInCountry').reset_index().sort_values('HighInCountry',ascending=False)
highest_inn_by_country

  Country  HighInCountry
7      WI            365
1     ENG            336
0     AUS            334
2     IND            334
3      NZ            334
4     PAK            334
5      SA            334
6      SL            334
8     ZIM            232

In [212]:
df.head(1)

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,58.6,29,13,7,626,6

In [211]:
df.insert(df.columns.get_loc('End_Date') + 1, 'Carrer_Length', df.pop('Carrer_Length'))
df.head(1)

KeyError: 'Carrer_Length'

In [213]:
df

,Player,Country,Start_Date,End_Date,Matches,Inns,No_Outs,Runs,Highest_Inns_Score,Batting_Avarege,Balls_Faced,Batting_Strike_Rate,100,50,0,4s,6s
0,DG Bradman,AUS,1928,1948,52,80,10,6996,334,9994,9800,58.60,29,13,7,626,6
1,HC Brook,ENG,2022,2023,12,20,1,1181,334,6215,9800+,91.76,4,7,1,141,23
2,AC Voges,AUS,2015,2016,20,31,7,1485,269,6187,9800+,55.68,5,4,2,186,5
3,RG Pollock,SA,1963,1970,23,41,4,2256,334,6097,1707,54.48,7,11,1,246,11
4,GA Headley,WI,1930,1954,22,40,4,2190,270,6083,416,56.00,10,5,2,104,1
6,H Sutcliffe,ENG,1924,1935,54,84,9,4555,334,6073,6558,34.59,16,23,2,202,6
7,E Paynter,ENG,1931,1939,20,31,5,1540,334,5923,1288,45.88,4,7,3,125,4
8,KF Barrington,ENG,1955,1968,82,131,15,6806,334,5867,4957,42.42,20,35,5,591,27
9,ED Weekes,WI,1948,1958,48,81,5,4455,334,5861,9800+,0.00,15,19,6,258,2
10,WR Hammond,ENG,1927,1947,85,140,16,7249,336,5845,7491,38.07,22,24,4,419,27
11,SPD Smith,AUS,2010,2024,107,191,25,9634,334,5803,9800+,53.59,32,41,9,1056,54
12,GS Sobers,WI,1954,1974,93,160,21,8032,365,5778,4063,53.58,26,30,12,593,32
14,KC Sangakkara,SL,2000,2015,134,233,17,12400,334,5740,9800+,54.19,38,52,11,1491,51
15,JB Hobbs,ENG,1908,1930,61,102,7,5410,334,5694,5363,46.22,15,28,4,276,8
17,CL Walcott,WI,1948,1960,44,74,7,3798,334,5668,9800+,0.00,15,14,1,107,11
18,L Hutton,ENG,1937,1955,79,138,15,6971,334,5667,2844,39.34,19,33,5,358,7
19,NaN,NaN,1995,2013,166,280,40,13289,334,5537,9800+,45.97,45,58,16,1488,97
20,KS Williamson,NZ,2010,2024,97,170,16,8490,334,5512,9800+,51.53,31,33,10,942,22
21,GE Tyldesley,ENG,1921,1929,14,20,2,990,334,5500,178,29.21,3,6,2,37,2
22,CA Davis,WI,1968,1973,15,29,5,1301,334,5420,665,35.48,4,4,1,65,1
23,VG Kambli,IND,1993,1995,17,21,1,1084,334,5420,9800+,59.46,4,3,3,124,6
24,GS Chappell,AUS,1970,1984,87,151,19,7110,247,5386,13079,51.53,24,31,12,755,16
25,AD Nourse,SA,1935,1951,34,62,7,2960,334,5381,108,63.88,9,14,3,115,6
26,SR Tendulkar,IND,1989,2013,200,329,33,15921,248,5378,29437,54.04,51,68,14,2058,69
27,DJ Mitchell,NZ,2019,2024,21,33,5,1497,334,5346,9800+,54.71,5,9,1,148,28
28,NaN,NaN,1990,2006,131,232,6,11953,400,5288,9800+,60.51,34,48,17,1559,88
29,Javed Miandad,PAK,1976,1993,124,189,21,8832,280,5257,15164,45.99,23,43,6,788,48
30,NaN,NaN,1996,2012,164,286,32,13288,334,5231,9800+,42.51,36,63,8,1654,21
31,Mohammad Yousuf,PAK,1998,2010,90,156,12,7530,334,5229,9800+,52.39,24,33,11,957,51
32,Younis Khan,PAK,2000,2017,118,213,19,10099,334,5205,9800+,52.12,34,33,19,1082,70
33,RT Ponting,AUS,1995,2012,168,287,29,13378,334,5185,9800+,58.72,41,62,17,1509,73
34,J Ryder,AUS,1920,1929,20,32,5,1394,201,5162,2035,44.86,3,9,1,102,3
35,A Flower,ZIM,1992,2002,63,112,19,4794,232,5154,9800+,45.07,12,27,5,543,20
36,MEK Hussey,AUS,2005,2013,79,137,16,6235,334,5152,9800+,50.13,19,29,12,685,39
37,S Chanderpaul,WI,1994,2015,164,280,49,11867,203,5137,9800+,43.31,30,66,15,1285,36
38,SM Gavaskar,IND,1971,1987,125,214,16,10122,236,5112,14184,43.35,34,45,12,908,26
39,SR Waugh,AUS,1985,2004,168,260,46,10927,334,5106,9800+,48.64,32,50,22,1175,20
40,M Labuschagne,AUS,2018,2024,48,86,7,4015,334,5082,9800+,52.73,11,19,4,450,12
41,ML Hayden,AUS,1994,2009,103,184,14,8625,334,5073,9800+,60.10,30,29,14,1049,82
42,AB de Villiers,SA,2004,2018,114,191,18,8765,278,5066,9800+,54.51,22,46,8,1024,64
43,AR Border,AUS,1978,1994,156,265,44,11174,334,5056,27002,41.09,27,63,11,1161,28
44,IVA Richards,WI,1974,1991,121,182,12,8540,334,5023,9613,69.77,24,45,10,952,84
45,DCS Compton,ENG,1937,1957,78,131,15,5807,334,5006,2731,38.81,17,28,10,342,3
46,DPMD Jayawardene,SL,1997,2014,149,252,15,11814,334,4984,9800+,51.45,34,50,15,1387,61
47,JE Root,ENG,2012,2024,137,251,20,11468,334,4964,9800+,56.77,30,60,12,1251,44
48,NaN,NaN,1992,2007,120,200,22,8830,334,4960,9800+,54.02,25,46,15,1105,48
49,FMM Worrell,WI,1948,1963,51,87,9,3860,334,4948,488,40.16,9,22,11,240,11
50,CP Mead,ENG,1911,1928,17,26,2,1185,182,4937,619,30.04,4,3,3,38,0
51,NaN,NaN,2001,2013,104,180,6,8586,334,4934,9800+,82.23,23,32,16,1233,91
52,Abid Ali,PAK,2019,2021,16,26,2,1180,215,4916,9800+,48.26,4,3,2,148,5
53,V Kohli,IND,2011,2024,113,191,11,8848,254,4915,9800+,55.56,29,30,14,991,26
55,MJ Clarke,AUS,2004,2015,115,198,22,8643,329,4910,9800+,55.92,28,27,9,978,39
56,KC Bland,SA,1961,1966,21,39,5,1669,144,4908,885,37.74,3,9,2,123,20
57,B Mitchell,SA,1929,1949,42,80,9,3471,189,4888,158,29.11,8,21,3,41,1
58,Hon.FS Jackson,ENG,1893,1905,20,33,4,1415,144,4879,9800+,0.00,5,6,3,51,0
59,TT Samaraweera,SL,2001,2013,81,132,20,5462,334,4876,9800+,46.92,14,30,11,633,7
60,RN Harvey,AUS,1948,1963,79,137,10,6149,334,4841,1799,43.74,21,24,7,427,1
61,KD Walters,AUS,1965,1981,74,125,14,5357,334,4826,8662,49.16,15,33,4,525,23
62,NaN,NaN,2002,2014,117,205,13,9265,334,4825,9800+,59.67,27,38,11,1165,24
63,WH Ponsford,AUS,1924,1934,29,48,4,2122,334,4822,3118,44.77,7,6,1,119,0
64,SJ McCabe,AUS,1930,1938,39,62,5,2748,334,4821,3217,60.02,6,13,4,241,5
65,DR Jardine,ENG,1928,1934,22,33,6,1296,334,4800,2110,25.59,1,10,2,53,0

In [ ]:
df.to_excel("output.xlsx",sheet_name='clean_data')